<%= form_tag(medications_path method: :get) do %>
  Treats: <%= text_field_tag :treats %>
  <%= submit_tag 'Search' %>
<% end %>
<table>
  <tr>
    <th> Name </th>
    <th colspan = "2"> Treats </th>
  </tr>
  <% @medications.each do |med| %>
    <tr>
      <td> <%= med.name %></td>
      <td colspan= "2"><%= med.treats %></td>
    </tr>
  <% end %>
</table>
