<h1>Login as Patient</h1>

<%= form_for @patient, url: '/patient/login' do |f| %>
  <%= f.label :email%>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit 'Sign In' %>
<% end %>

<%= link_to("Sign in with Google", "/auth/facebook") %>
