<h1>Welcome <%= @patient.display_name %></h1>
<table>
    <th>Date/Time</th>
    <th>Doctor</th>
<% @patient.appointments.each do |appt| %>
  <tr>
    <td><%= link_to appt.display_time, appointment_path(appt) %></td>
    <td><%= appt.doctor.doc_name %></td>
  </tr>
<% end %>

</table>

<ul>
  <% @patient.patient_meds.each do |med| %>
    <li><%= med.medication.name %> - <%= med.dosage %></li>
  <% end %>
</ul>
