<h1> Patients </h1>
<%= form_tag(patients_path, :method => :get) do %>
  Last Name: <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
<% @patients.each do |p| %>
  <tr>
    <td><%= p.display_name %></td>
    <td><%= link_to "Add Appointments", patient_path(p) %></td>
    <td><%= link_to "Edit Patient Information", edit_patient_path(p) %></td>
<% end %>
</table>
