<h1><%= @patient.display_name %></h1>

<table>
  <tr>
    <th colspan="2"> Scheduled Appointments </th>
  </tr>
  <tr>
    <th>Date/Time</th>
    <th>Doctor</th>
  </tr>
<% @patient.appointments.future.each do |appt| %>
  <tr>
    <td><%= link_to appt.display_time, appointment_path(appt) %></td>
    <td><%= appt.doctor.doc_name %></td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th colspan="2">Available Appointments</th>
  <tr>
    <th>Doctor</th>
    <th>Date/Time</th>
  </tr>
<% @appointments.each do |appt| %>
  <tr>
    <td><%= appt.doctor.doc_name %></td>
    <td><%= appt.display_time %></td>
    <td><%= form_for appt do |f|%>
          <%= f.hidden_field :patient_id, :value => @patient.id %>
          <%= f.submit "Add Appointment" %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
