<h3>Appointment for: <%= @appointment.patient.display_name unless @appointment.patient.nil?%></h3>
<h3>With: <%= @appointment.doctor.doc_name %> on <%= @appointment.display_time %></h3>

<table>
  <tr><th colspan="4">Check-in Data</th><tr>
  <tr>
    <td>Height:</td>
    <td><%= @appointment.height %></td>
    <td>Weight:</td>
    <td><%= @appointment.weight %></td>
  </tr>
  <tr>
    <td>BMI: </td>
    <td><%= @appointment.bmi %></td>
    <td>Temperature:</td>
    <td><%= @appointment.temp %></td>
  </tr>
  <tr>
    <td>Blood Pressure:</td>
    <td colspan="2"><%= @appointment.systolic %> / </td>
    <td><%= @appointment.diastolic %> </td>
  </tr>
  <tr>
    <td> Heart Rate: </td>
    <td> <%= @appointment.heart_rate %></td>
    <td> Resperation Rate: </td>
    <td> <%= @appointment.rr %></td>
  </tr>
  <tr>
    <th colspan="4"> Reason For Visit </th>
  <tr>
    <td colspan="4"><%= @appointment.visit_reason %></td>
  </tr>
  <tr>
    <th colspan="4"> Past Medical History </th>
  </tr>
  <tr>
    <td colspan="4"> <%= @appointment.history %> </td>
  </tr>
  <tr>
    <th colspan="4"> Assessment </th>
  </tr>
  <tr>
    <td> Neuro </td>
    <td colspan="3"><%= @appointment.neuro %></td>
  </tr>
  <tr>
    <td> HEENT </td>
    <td colspan="3"><%= @appointment.heent %></td>
  </tr>
  <tr>
    <td> Cardiac </td>
    <td colspan="3"><%= @appointment.cardiac%></td>
  </tr>
  <tr>
    <td>Respiratory</td>
    <td coolspan="3"><%= @appointment.respiratory%></td>
  </tr>
  <tr>
    <td>Skin</td>
    <td colspan="3"><%= @appointment.skin%></td>
  </tr>
  <tr>
    <td>Musculoskeletal</td>
    <td colspan="3"><%= @appointment.musculoskeletal%></td>
  </tr>
  <tr>
    <td>Psychosocial</td>
    <td colspan="3"><%= @appointment.psychosocial%></td>
  </tr>
  <tr>
    <th colspan="4">Treatment Plan</th>
  </tr>
  <tr>
    <td>Tests Ordered</td>
    <td colspan="4"><%= @appointment.tests_ordered%></td>
  </tr>
  <tr>
    <td>Therapies</td>
    <td colspan="3"><%= @appointment.therapies%></td>
  </tr>
  <tr>
    <td>Follow Up Instructions</td>
    <td colspan="3"><%= @appointment.follow_up%></td>
  </tr>
</table>
